@font-face {
 font-family:'proxima_nova_rgregular';
 src:url('../fonts/proxima-nova/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
 url('../fonts/proxima-nova/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff');
 font-weight:400;
 font-style:normal;
 font-display:swap
}
#wrap-content{
	margin-top: 50px;
}
#map{
	height: 100vh;
	max-height: 80vh;
	margin-bottom: 30px;
}
.leaflet-popup-content p{
	margin: 5px 0 !important;
}
.leaflet-popup-content .accordion-button{
	padding: 8px !important;
}
.accordion-button::after { 
	background-size: 1rem; 
}
.see-more{
	cursor: pointer;
}